/* estilos globales xd*/

:root {
    --color-negro: #0C0C0C;
    --color-naranja: #ff6b00;
    --color-blanco-hueso: #F7F3EB;
    --color-azul-acento: #3fa9f5;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-negro);
    color: var(--color-blanco-hueso);
    font-family: 'Inter', sans-serif;
}

