.thanks-section {
    padding: 100px 40px;
    background-color: var(--color-blanco-hueso);
    color: var(--color-negro);
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0, 0.05);
}

.thanks-content { max-width: 900px; margin: 0 auto;}

.big-quote {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-naranja);
    margin-bottom: 60px;
}

.team-messeges-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    gap: 30px;
}

.team-card {
    background-color:  #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px  rgba(0, 0, 0, 0, 0.05)
    border 1px solid rgba(0, 0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}
.team-card:hover {
    transform: translateY(-5px);
    border-color: var(--color-naranja);
}

.team-card p {
    font-family:  'Inter', sans-serif;
    font-style: italic;
    margin-bottom:  15px;
    color: #333;
}

.team-card span {
    font-family: 'Space Grotesk',sans-serif;
    font-weight: bold;
    color: var(--color-azul-acento);
    display: block;
}

