/* aqui puros herues (hero) como superman, batman, spiderman, etc XDDDD */
/* que mal chiste*/
.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: 
         radial-gradient(elipse at top, rgba(255, 107, 0, 0.35), transparent 60%),
         radial-gradient(elipse at bottom, rgba(63, 169, 245, 0.2), transparent 70%),
         var(--color-negro);
    padding: 0 20px;
    overflow: hidden;
}

.hero-content {
    max-width: 800px;
}

.hero-content h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-blanco-hueso);
    margin-bottom: 2.5rem;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.btn {
    padding: 12px 28px;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    border-radius:  8px;
    transition: all 0.3s ease;
    font-size: 1.1rem;
    border: 2px solid transparent;
}

.btn-primary {
    background-color: var(--color-naranja);
    color: var(--color-negro);
    border-color: var(--color-naranja);
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--color-naranja);
   box-shadow: 0 0 20px rgba(255, 107, 0, 0.7);
}

.btn-secondary {
    background-color: transparent;
    color: var(--color-blanco-hueso);
    border-color: var(--color-blanco-hueso);
}

.btn-secondary:hover {
    background-color:  var(--color-blanco-hueso);
    color: var(--color-negro);
    box-shadow: 0 0 15px rgb(247, 243, 235, 0.5);
}

@media (max-width: 600px) {
    .hero-content h1 {
            font-size: 2.8rem;
    }
    .hero-content p {
        font-size: 1.2rem;
    }
    .btn {
        width: 100%;
    }
}